.tranding__subtitle {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 96px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #E5E5E5;
  max-width: 548px;
}