.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top: 14px;
  margin-right: 36px;
}

@media screen and (max-width:500px) {
  .header__link {
    margin: 0;
    margin-top: 15px;
    text-align: center;
  }
}