.photo-grid__item {
  width: 100%;
  height: 402px;
}
.photo-grid__item_first{
  margin-left: -51px;
}

.photo-grid__item_last{
  margin-left: 45px;
}

.photo-grid__item_top{
  margin-left: -51px;
}

.photo-grid__item_bottom{
  margin-left: 74px;
}

