.lead__title {
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

@media screen and (max-width:1180px) {
  .lead__title {
    font-size: 64px;
    line-height: 60px;
  }
}

@media screen and (max-width:800px) {
  .lead__title {
    font-size: 34px;
    line-height: 40px;
  }
}